<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All users</h1>
<div th:align="right">
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</div>
<table border="1">
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>

    <tr th:each="user, state : ${users}">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.firstName}">First Name</td>
        <td th:utext="${user.lastName}">Last Name</td>
        <td th:utext="${user.username}">Username</td>
        <td th:utext="${user.password}">Password</td>
        <td th:utext="${user.roles.toString()}">Role</td>
        <td><form th:method="GET" th:action="@{/admin/{id}(id=${user.id})}">
            <input type="submit" value="Update"/>
        </form>
        </td>
        <td><form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.id})}">
            <input type="submit" value="Delete"/>
            </form></td>
    </tr>
</table>
</br>
<a href="new.html" th:href="@{/admin/new}">Create new user</a>
</body>
</html>